MODE="debug"
# MODE="release"

BACKEND_URL="localhost:8080"
FRONTEND_ORIGIN="localhost:5173"
API_URL="/your/api/path"

# DB Config
DB_PUBLIC_HOST="localhost"
DB_PORT="5432"
DB_USER="user"
DB_PASSWORD="password"
DB_NAME="dbname"

# Access token
JWT_SECRET="somesecretstring"
JWT_EXP=900 # 15 mins in seconds

# Refresh token
REFRESH_JWT_SECRET="somesecretstringforrefresh"
REFRESH_JWT_EXP=2592000  # 30 days in seconds

# Google OAuth2 Config
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
GOOGLE_CALLBACK_URL="your-google-callback-url"

THIRD_PARTY_SESSION_SECRET="somesecretstringforthirdpartysession"
THIRD_PARTY_SESSION_MAX_AGE=604800 # in seconds

# Pagination
ExpensesPerPage=25

# CORS Config
CORS_FRONTEND_ORIGINS=http://localhost:5173
CORS_ALLOW_CREDENTIALS=true
AUTH_COOKIE_DOMAIN=
AUTH_COOKIE_SECURE=false
AUTH_COOKIE_SAME_SITE=lax # Options: lax, strict, none
