package index

import (
	"expense-tracker/frontend/views/components"
	"expense-tracker/frontend/views/layouts"
	"expense-tracker/types"
)

templ AddMember(groupId string, relatedUserList []types.RelatedMember) {
	@layouts.Base() {
		@components.Navbar() {
			@components.AddMember(groupId, relatedUserList)
		}
	}
}
