package index

import (
	"expense-tracker/frontend/views/layouts"
	"expense-tracker/frontend/views/components"
	"expense-tracker/types"
)

templ GroupDetail(groupId string, title string, balance types.BalanceResponse, expenseList []types.ExpenseResponseBrief) {
	@layouts.Base() {
		@components.Navbar() {
			@components.GroupDetail(groupId, title, balance, expenseList)
		}
	}
}