package index

import (
	"expense-tracker/frontend/views/layouts"
	"expense-tracker/frontend/views/components"
)

templ NewExpense() {
	@layouts.Base() {
		@components.Navbar() {
			@components.NewExpense()
		}
	}
}