package index

import (
	"expense-tracker/frontend/views/layouts"
	"expense-tracker/frontend/views/components"
)

templ NewGroup() {
	@layouts.Base() {
		@components.Navbar() {
			@components.NewGroup()
		}
	}
}